body {
	font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
	padding: 1em;
	font-size: 1.8em;
	line-height: 1.4;
}

p {
	font-size: 0.875em;
}

p.small {
	font-size: 0.8em;
	line-height: 0.6;
}

p.italic {
	font-style: italic;
}

ul {
	font-size: 0.875em;
}

h1 {
	font-size: 1.5em;
}

.blocks {
	width: 45%;
	margin: auto;
	display: block;
	justify-content: center;
}

@media screen and (orientation: portrait)
{
	body {
		font-size: 1.6em;
	}
	
	.blocks {
		width: 100%;
	}
}

.header {
	width: 100%;
	object-fit: contain;
}